@import "bootstrap/dist/css/bootstrap.min.css";

body
{
    background: white;
    #contenido{
    text-align: center;
    font-size: 60px;
    font-weight: bold;
    margin-top: 200px;
    margin-right: 200px;
}
    

 
}
